.menu-category p {
    margin-bottom: 0 !important;
    padding: 0.5rem 0 !important;
}

desc p {
    font-size: 0.8rem;
}

.sale-banner {
    background: radial-gradient(circle, rgba(84, 137, 254, 1) 0%, rgba(10, 0, 255, 1) 50%);
    height: 240px;
    margin: 0 0.1rem;
    display: flex;
    align-items: center;
}

.sale-banner h3 {
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 0 0 1px white, 0 0 5px white;
    text-align: center;

}
.side-card {
    width: 100%;
}
.side-card .card_img {
    width: 50%;
}
.side-card .card_img img {
    width: 100%;
}

.brand {
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
}
.nav-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.brand p {
    margin-bottom: 0;
}

.brand-image {
    width: 160px;
    position: relative;
}

.brand-image:hover {
    transform: scale(1.05);
    transition: transform 0.2s linear;
}

.brand-image img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.title {
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: radial-gradient(ellipse at top, #64afff, rgba(255, 255, 255, 0.6) 50%);
}

.title h5 {
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 5px solid yellow;
}
.flagship {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 0.3rem;
}
.flagship .flagship_item {
    border-radius: 5px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgb(182, 212, 252), #64afff);
    padding: 1rem 0.4rem;
}
.card-img-top {
    width: 70%;
    margin: auto;
}
.card-box {
    padding-top: 5rem;
position: relative;
}
.side-card-text {
    display: flex;
    align-items: center;
}
.side-card-body {
    padding: 0.4rem;
}
.card-cont {
    overflow: scroll;
    flex-wrap: nowrap;
}
.view-box {
    position: absolute;
    padding: 1rem 0.1rem;
    top: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.view-box button {
    width: 20%;
}
@media screen and (max-width: 768px) {
    .flagship {
        grid-template-columns: repeat(2, 1fr);
       } 
    .flagship_item {
        flex-direction: column;
    } 
    .side-card {
        flex-direction: column;
    }
    .side-card .card_img{
        width: 100%;
    }
    .brand {
        grid-template-columns: repeat(4, 1fr);
    }  
}
@media screen and (max-width: 358px) {

    .brand {
        grid-template-columns: repeat(1, 1fr);
        overflow-x: hidden;
    } 
    .brand-image {
        margin: auto;
    } 
}