.card-box {
    padding-top: 5rem;
position: relative;
}
.card-cont {
    overflow: scroll;
    flex-wrap: nowrap;
}
.view-box {
    position: absolute;
    padding: 1rem 0.1rem;
    top: 0px;
    display: flex;
    border-bottom: 1px solid gray;
}
.view-box button {
    width: 7%;
    margin-left: auto;
}
.nav-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.desc {
    font-size: 0.8rem;
    color: gray;
}
.review-box {
    border: 1px solid #80808021;
    padding: 0.5rem 0;
}
.review-prod {
    max-height: 175px;
    overflow-x: scroll;
}
.review-prod .details {
    min-width: 175px;
}
p {
    margin: 0;
}
.specs {
    font-size: 0.9rem;
}