.card-box {
    padding-top: 5rem;
position: relative;
}
.card-cont {
    margin-top: 0.3rem;
    overflow: scroll;
    flex-wrap: nowrap;
}
.nav-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.view-box {
    position: absolute;
}
.view-box h4 {
    font-size: 1rem;
}
.view-box button {
    margin: 0 1rem;
}
body {
    background-color: rgb(235, 235, 235);
}