.nav-menu {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    height: 180px;
}

.menu-boxes {
    width: 100px;
    height: 150px;
    padding: 0 0.3rem;
}
 .menu-boxes a {
    height: 100%;
    width: 100%;
}
.menu-boxes img {
    height: 75%;
    width: 100%;
  object-fit: contain;
  flex-shrink: 0;
}



.view-box {
    background: linear-gradient(0deg, rgba(137, 47, 199, 0.5786647422640931) 0%, rgba(255, 255, 255, 1) 50%);
}

.view-box-2 {
    background: linear-gradient(0deg, rgba(37, 229, 158, 0.5786647422640931) 0%, rgba(255, 255, 255, 1) 50%);
}